body {
    font-family: "helvetica";
    margin: 0;
}

h1 {
    color: #3F3F3F;
}

span h1{
    text-align: center;
    padding-bottom: 10px;
}

.container{
    max-width: 960px;
    margin: auto;
}

.chart{
    min-height: 300px;
    color: white;
    margin: 15px;
    border-bottom: 1px solid lightgray;
}

.clearfix{
    clear: both;
}

#chart1 .h-bar{
    background-color: steelblue;
}

#chart2 .h-bar{
    background-color: forestgreen;
}

#chart3 .h-bar{
    background-color: orangered;
}

#chart4 .h-bar{
    background-color: seagreen;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.code {
    font-family: "menlo";
    font-size: 0.9em;
}